table.table {
    margin-top: 3rem;
}

table.table thead {
    font-size: 1.5rem;
}

table.table thead i[class^="bi"], table.table tbody tr, #PhoneBookDiv table.table thead th {
    cursor: pointer;
}

table.table tbody {
    font-size: 1.1rem;
}

table.table tbody i[class^="bi"] {
    font-size: 1.5rem;
}

table.table tbody > tr:first-child > td:first-child {
    border-top-left-radius: 1rem;
}

table.table tbody>tr:first-child>td:last-child {
    border-top-right-radius: 1rem;
}

table.table tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: 1rem;
}

table.table tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: 1rem;
}

#CancelCreateEditButton {
	font-size: 1.5em;
}

#CreateEditNumberDiv .NavSection.row {
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid
}

.SettingsTitle {
    font-size: large;
    font-family: sans-serif;
    color: green;
}

.SettingsButton {
    font-size: large;
    font-family: sans-serif;
    color: green;
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
}

.TargetTable {
    padding: 1.5rem;
}

.CurrentDateTime {
    font-size: large;
    color: blue;
    text-align: center;
    font-family: monospace;
}

.EditBox {
    font-size: 18px;
}

.IconColumn {
    width: 24px;
    height: 38px;
    background: white;
    border: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.WhenCell {
    white-space: nowrap;
}

.CallerColumn {
    width: 100%;
}

.CallCountColumn {
    text-align: right;
}

.HistoryColumn {
    text-align: center;
}

.LostContact {
    text-align: center;
}

.NewDateRow {
    border-top: 13px solid var(--bs-body-bg);
}

